body{
    margin: auto;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */  
    overflow: hidden;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: blanchedalmond;
    /* position:fixed;  */
}

#stateText{
    position: absolute;
    top: 30%;
    left: 50%;
    transform : translate(-50%, -50%);  
}

#instruction{
    position: absolute;
    width: 350px;
    text-align: center;
    top: 40%;
    left: 50%;
    transform : translate(-50%, -50%);  
}


#timer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform : translate(-50%, -50%);  
}


#phoneNum{
    position: absolute;
    top: 60%;
    left: 50%;
    transform : translate(-50%, -50%);  
}


#debugText{
    position: absolute;
    top: 70%;
    left: 50%;
    transform : translate(-50%, -50%);  
}



.A-button{
    position: absolute;
    width: 300px;
    height: 300px;
    top:0%;
    left: 50%;
    transform : translate(-50%, -50%);  
    border-radius: 50%;
}

.B-button{
    position: absolute;
    width: 300px;
    height: 300px;
    bottom:0px;
    left: 50%;
    transform : translate(-50%, 50%);  
    border-radius: 50%;
}

.rectangle{
    position: absolute;
    width: 300px;
    height: 100%;
    left: 50%;
    transform : translate(-50%, 0%);  
    background-color: darkgreen;
    z-index: -1 ;
    opacity: 0;
}

.visible{
    opacity: 0.8;
}

.active {
    background-color:green;
    width: 330px;
    padding: 20px;
}


